.nabvarComponent {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    height: 85px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
    z-index: 1;
    font-family:'Montserrat', sans-serif;
}

.nabvarComponent-content1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nabvarComponent-item1, .nabvarComponent-item2 {
    width: 46%;
    height: inherit;
    border-bottom: 0.01px solid black;
    /* #0055A4; */
}

.imgNabvar {
    width: 150px;
    height: 60px;
}
.nabvarComponent-item1{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #0055A4;
    font-size: 20px;
}

.nabvarComponent-item2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.linkNavbar,
.linkNavbarAC {
    text-decoration: none;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    color: black;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.linkNavbarAC::after, .linkNavbar::after, .homeLinkNabvar::after  {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #0055A4;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.linkNavbarAC:hover, .linkNavbar:hover, .homeLinkNabvar:hover {
    border-bottom: #0055A4;
}

.linkNavbarAC:hover::after, .linkNavbar:hover::after, .homeLinkNabvar:hover::after{
    width: 100%;
}

.nabvarComponent-content2{
    width: 92%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.homeLinkNabvar, .activeHome{
    color: #0055A4;
    text-decoration: none;
}
.homeLinkNabvar {
    text-decoration: none;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
}

.activeHome {
    border-bottom: solid 2px #0055A4;
}

.active{
    border-bottom: solid 2px #0055A4;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    color: black;
    padding: 5px 0;
    transition: color 0.3s ease;
}