.whatsappComponent {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    text-decoration: none;
}
.whatsappComponent-query{
    width: 100%;
    background-color: #b6d5f1;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    color: #0055A4;
}
.whatsapp {
    width: 80px;
    height: 80px;
    background-color: #0055A4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease ;
}
.whatsapp:hover {
    background-color: #1d6bb4;
}
.whatsapp > img {
    width: 50px;
    animation: float 3s ease-in-out infinite; 
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); 
    }
    100% {
        transform: translateY(0); 
    }
}